
module my-udevconfigure 1.0;

require {
	type cupsd_config_t;
	class capability sys_admin;
}

#============= cupsd_config_t ==============
allow cupsd_config_t self:capability sys_admin;
